.instrguide, td {
	border: 2px solid black;
	border-collapse: collapse;
}

.describe {
	background: grey;
	text-align: center !important;
}

.minitable {
	width: 100%;
	border-collapse: collapse;
}

body{
	background-color: black;
}
table.instrguide{
	display: block;
	margin: auto;
	width: fit-content;
	/*border: 1px dashed #ababab;*/
	border: none;

}

table.minitable td {
	border: 0px white !important;
}

tbody {
	vertical-align: middle;
}

/*table td {
	display: table-cell; 
	text-align: left;
	vertical-align: inherit;
}*/

td{
	text-align: left;
	vertical-align: inherit;
    position: relative;
    color: rgb(211, 209, 209);
    border: 0.2rem dashed rgb(211, 209, 209);
	border-top: none;
	font-family: monospace;
    /*background:#d1d1d1;*/
    font-size: large;
    padding: 0.5rem;
}

th {
	padding: 0.5rem;
	border: 0.2rem dashed rgb(211, 209, 209);
	color: rgb(211, 209, 209);
	font-size: x-large;
}

#url-buttons{
	display: block;
	position: relative;
	width: 90%;
	height: max-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	color: rgb(211, 209, 209);
	font-size: x-large;
	border: 0.15rem solid rgb(211, 209, 209);
	border-radius: 1rem;
	align-content: center;
	text-align: center;
}

.url{
	display: inline-block;
	position: relative;
	width: 45%;
	height: 100%;
	padding: 0.25rem;
	border-radius: 0.5rem;
	background: rgb(211, 209, 209);
	transition: 1s;
}

.url:hover{
	background: white;
	transition: 1s;
	height: 120%;
}
a{
	text-decoration: none;
	color: #575757;
	font-family: /*'Times New Roman', Times, sans-serif*/ 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}